In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
def load_food_data():
    df = pd.read_csv('WFPVAM_FoodPrices_05-12-2017.csv', encoding='latin-1')
    df.rename(columns={'adm0_id': 'country_ID', 'adm0_name': 'country', 'adm1_id' : 'district_ID', \
                       'adm1_name' : 'district', 'mkt_id' : 'market_ID', 'mkt_name' : 'market' , \
                       'cm_id' : 'product_ID','cm_name' : '_product', 'cur_id' : 'currency_ID', \
                       'cur_name' : 'currency', 'pt_id' : 'sale_ID', 'pt_name' : 'sale', 'um_id' : 'unit_ID', \
                       'um_name' : 'unit', 'mp_month' : 'month', 'mp_year' : 'year', 'mp_price' : 'price', \
                       'mp_commoditysource' : 'source'}, inplace=True)
    return df

In [3]:
food_df = load_food_data()

In [4]:
def load_production_data():
    production_df = pd.read_csv('reduced_production_data.csv', encoding='latin-1')
    df.rename(columns={'Area' : 'country', 'Item' : '_product', 'Year' : 'year', 'Unit'})
    return production_df

In [5]:
prod_df = load_production_data()

In [6]:
prod_df

,Unnamed: 0,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,380,2,Afghanistan,515,Apples,5510,Production,1961,1961,tonnes,15100.0,*
1,381,2,Afghanistan,515,Apples,5510,Production,1962,1962,tonnes,15100.0,F
2,382,2,Afghanistan,515,Apples,5510,Production,1963,1963,tonnes,15100.0,F
3,383,2,Afghanistan,515,Apples,5510,Production,1964,1964,tonnes,18400.0,F
4,384,2,Afghanistan,515,Apples,5510,Production,1965,1965,tonnes,20400.0,F
5,385,2,Afghanistan,515,Apples,5510,Production,1966,1966,tonnes,22800.0,F
6,386,2,Afghanistan,515,Apples,5510,Production,1967,1967,tonnes,27600.0,F
7,387,2,Afghanistan,515,Apples,5510,Production,1968,1968,tonnes,27900.0,F
8,388,2,Afghanistan,515,Apples,5510,Production,1969,1969,tonnes,28200.0,F
9,389,2,Afghanistan,515,Apples,5510,Production,1970,1970,tonnes,27300.0,F
10,390,2,Afghanistan,515,Apples,5510,Production,1971,1971,tonnes,21500.0,F
11,391,2,Afghanistan,515,Apples,5510,Production,1972,1972,tonnes,26600.0,F
12,392,2,Afghanistan,515,Apples,5510,Production,1973,1973,tonnes,27600.0,F
13,393,2,Afghanistan,515,Apples,5510,Production,1974,1974,tonnes,27800.0,F
14,394,2,Afghanistan,515,Apples,5510,Production,1975,1975,tonnes,27900.0,F
15,395,2,Afghanistan,515,Apples,5510,Production,1976,1976,tonnes,26200.0,F
16,396,2,Afghanistan,515,Apples,5510,Production,1977,1977,tonnes,15500.0,F
17,397,2,Afghanistan,515,Apples,5510,Production,1978,1978,tonnes,22700.0,F
18,398,2,Afghanistan,515,Apples,5510,Production,1979,1979,tonnes,21600.0,F
19,399,2,Afghanistan,515,Apples,5510,Production,1980,1980,tonnes,22300.0,F
20,400,2,Afghanistan,515,Apples,5510,Production,1981,1981,tonnes,22100.0,F
21,401,2,Afghanistan,515,Apples,5510,Production,1982,1982,tonnes,21400.0,F
22,402,2,Afghanistan,515,Apples,5510,Production,1983,1983,tonnes,20800.0,F
23,403,2,Afghanistan,515,Apples,5510,Production,1984,1984,tonnes,20000.0,F
24,404,2,Afghanistan,515,Apples,5510,Production,1985,1985,tonnes,19100.0,F
25,405,2,Afghanistan,515,Apples,5510,Production,1986,1986,tonnes,19400.0,F
26,406,2,Afghanistan,515,Apples,5510,Production,1987,1987,tonnes,16600.0,F
27,407,2,Afghanistan,515,Apples,5510,Production,1988,1988,tonnes,16900.0,F
28,408,2,Afghanistan,515,Apples,5510,Production,1989,1989,tonnes,16900.0,F
29,409,2,Afghanistan,515,Apples,5510,Production,1990,1990,tonnes,16867.0,Im
...,...,...,...,...,...,...,...,...,...,...,...,...
38518,1661902,181,Zimbabwe,15,Wheat,5510,Production,1987,1987,tonnes,214548.0,NaN
38519,1661903,181,Zimbabwe,15,Wheat,5510,Production,1988,1988,tonnes,256910.0,NaN
38520,1661904,181,Zimbabwe,15,Wheat,5510,Production,1989,1989,tonnes,283835.0,NaN
38521,1661905,181,Zimbabwe,15,Wheat,5510,Production,1990,1990,tonnes,325983.0,NaN
38522,1661906,181,Zimbabwe,15,Wheat,5510,Production,1991,1991,tonnes,259213.0,NaN
38523,1661907,181,Zimbabwe,15,Wheat,5510,Production,1992,1992,tonnes,57000.0,NaN
38524,1661908,181,Zimbabwe,15,Wheat,5510,Production,1993,1993,tonnes,277000.0,NaN
38525,1661909,181,Zimbabwe,15,Wheat,5510,Production,1994,1994,tonnes,288000.0,NaN
38526,1661910,181,Zimbabwe,15,Wheat,5510,Production,1995,1995,tonnes,70000.0,NaN
38527,1661911,181,Zimbabwe,15,Wheat,5510,Production,1996,1996,tonnes,263134.0,NaN
38528,1661912,181,Zimbabwe,15,Wheat,5510,Production,1997,1997,tonnes,254772.0,NaN
38529,1661913,181,Zimbabwe,15,Wheat,5510,Production,1998,1998,tonnes,242121.0,NaN
38530,1661914,181,Zimbabwe,15,Wheat,5510,Production,1999,1999,tonnes,260909.0,NaN
38531,1661915,181,Zimbabwe,15,Wheat,5510,Production,2000,2000,tonnes,229775.0,NaN
38532,1661916,181,Zimbabwe,15,Wheat,5510,Production,2001,2001,tonnes,197526.0,NaN
38533,1661917,181,Zimbabwe,15,Wheat,5510,Production,2002,2002,tonnes,195000.0,NaN
38534,1661918,181,Zimbabwe,15,Wheat,5510,Production,2003,2003,tonnes,122427.0,NaN
38535,1661919,181,Zimbabwe,15,Wheat,5510,Production,2004,2004,tonnes,247048.0,NaN
38536,1661920,181,Zimbabwe,15,Wheat,5510,Production,2005,2005,tonnes,229089.0,NaN
38537,1661921,181,Zimbabwe,15,Wheat,5510,Production,2006,2006,tonnes,241924.0,NaN
38538,1661922,181,Zimbabwe,15,Wheat,5510,Production,2007,2007,tonnes,149110.0,NaN
38539,1661923,181,Zimbabwe,15,Wheat,5510,Production,2008,2008,tonnes,31000.0,NaN
38540,1661924,181,Zimbabwe,15,Wheat,5510,Production,2009,2009,tonnes,12000.0,*
38541,1661925,181,Zimbabwe,15,Wheat,5510,Production,2010,2010,tonnes,18000.0,*
38542,1661926,181,Zimbabwe,15,Wheat,5510,Production,2011,2011,tonnes,23000.0,*
38543,1661927,181,Zimbabwe,15,Wheat,5510,Production,2012,2012,tonnes,52736.0,Im
38544,1661928,181,Zimbabwe,15,Wheat,5510,Production,2013,2013,tonnes,52926.0,Im
38545,1661929,181,Zimbabwe,15,Wheat,5510,Production,2014,2014,tonnes,50422.0,Im
38546,1661930,181,Zimbabwe,15,Wheat,5510,Production,2015,2015,tonnes,46858.0,Im
38547,1661931,181,Zimbabwe,15,Wheat,5510,Production,2016,2016,tonnes,43294.0,Im